		<td colspan="12" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="applications_leases-tenants-caption field-caption-tv">Applicant/ Tenant</dt>
					<dd id="applications_leases-tenants-<%%VALUE(id)%%>" class="applications_leases-tenants"><%%SELECT%%><%%VALUE(tenants)%%><%%ENDSELECT%%></dd>

					<dt class="applications_leases-status-caption field-caption-tv">Application status</dt>
					<dd id="applications_leases-status-<%%VALUE(id)%%>" class="applications_leases-status"><%%SELECT%%><%%VALUE(status)%%><%%ENDSELECT%%></dd>

					<dt class="applications_leases-property-caption field-caption-tv">Property</dt>
					<dd id="applications_leases-property-<%%VALUE(id)%%>" class="applications_leases-property"><%%SELECT%%><%%VALUE(property)%%><%%ENDSELECT%%></dd>

					<dt class="applications_leases-unit-caption field-caption-tv">Unit applied for</dt>
					<dd id="applications_leases-unit-<%%VALUE(id)%%>" class="applications_leases-unit"><%%SELECT%%><%%VALUE(unit)%%><%%ENDSELECT%%></dd>

					<dt class="applications_leases-type-caption field-caption-tv">Lease type</dt>
					<dd id="applications_leases-type-<%%VALUE(id)%%>" class="applications_leases-type"><%%SELECT%%><%%VALUE(type)%%><%%ENDSELECT%%></dd>

					<dt class="applications_leases-total_number_of_occupants-caption field-caption-tv">Total number of occupants</dt>
					<dd id="applications_leases-total_number_of_occupants-<%%VALUE(id)%%>" class="applications_leases-total_number_of_occupants text-center"><%%SELECT%%><%%VALUE(total_number_of_occupants)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="applications_leases-start_date-caption field-caption-tv">Lease period from</dt>
					<dd id="applications_leases-start_date-<%%VALUE(id)%%>" class="applications_leases-start_date"><%%SELECT%%><%%VALUE(start_date)%%><%%ENDSELECT%%></dd>

					<dt class="applications_leases-end_date-caption field-caption-tv">to</dt>
					<dd id="applications_leases-end_date-<%%VALUE(id)%%>" class="applications_leases-end_date"><%%SELECT%%><%%VALUE(end_date)%%><%%ENDSELECT%%></dd>

					<dt class="applications_leases-rent-caption field-caption-tv">Rental amount</dt>
					<dd id="applications_leases-rent-<%%VALUE(id)%%>" class="applications_leases-rent text-right"><%%SELECT%%><%%VALUE(rent)%%><%%ENDSELECT%%></dd>

					<dt class="applications_leases-security_deposit-caption field-caption-tv">Security deposit</dt>
					<dd id="applications_leases-security_deposit-<%%VALUE(id)%%>" class="applications_leases-security_deposit text-right"><%%SELECT%%><%%VALUE(security_deposit)%%><%%ENDSELECT%%></dd>

					<dt class="applications_leases-emergency_contact-caption field-caption-tv">Emergency contact</dt>
					<dd id="applications_leases-emergency_contact-<%%VALUE(id)%%>" class="applications_leases-emergency_contact"><%%SELECT%%><%%VALUE(emergency_contact)%%><%%ENDSELECT%%></dd>

					<dt class="applications_leases-agreement-caption field-caption-tv">Applicant agrees</dt>
					<dd id="applications_leases-agreement-<%%VALUE(id)%%>" class="applications_leases-agreement text-center"><%%SELECT%%><%%VALUE(agreement)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
